
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Sign Up</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputusername">User Name</label>
                            <input type="text" class="form-control" id="exampleInputusername" 
                                aria-describedby="usernameHelp" name="username" [(ngModel)]="model.username" >                            
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="password" 
                                id="exampleInputPassword1" [(ngModel)]="model.password">
                        </div>
                        <button class="btn btn-success mt-3 mr-2" type="submit">Register</button>
                        <button class="btn btn-danger mt-3 ms-2" (click)="cancel()" type="button">Cancel</button>
                    </div>                   
                </div>                
            </div>
        </div>
    </div>      
</form>